$mdc-theme-primary: #1193c3;
$mdc-theme-secondary: #6200ee;

$mdc-layout-grid-max-width: 1140px;

@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";

@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/card/mdc-card";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/button/mdc-button";
@import "@material/select/mdc-select";
@import "@material/drawer/mdc-drawer";

body {
	margin: 0;
}

/* CARDS */
.lab-card__primary {
	padding: 1rem;
}

.lab-card__secondary {
	padding: 0 1rem 8px;
}

.lab-card__title {
	margin: 0;
}

.lab-card__secondary,
.lab-card__subtitle {
	color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, .54));
}

.lab-card__subtitle {
	margin: 0;
}

// CANVAS
#draw {
  display: block;
  margin: 10px;
}

// CUSTOM
.lab-button--fullwidth {
  width: 100%;
}

.lab-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	justify-content: center;
	margin: 1rem;
	gap: 1rem;
}

.lab-grid__cell > .mdc-card, .lab-grid__cell > .mdc-card > a {
	height: 100%;
}
