<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="utf-8"/>
	<title>{{ .Title }} – {{ .Site.Title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}"/>

	<!-- Use Seedrandom -->
	<!-- Because vanilla JS does not have a seeded random generator -->
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.4/seedrandom.min.js"></script>

	<!-- Material Components -->
	<!-- <link rel="stylesheet" type="text/css" href="https://unpkg.com/material-components-web@0.44.0/dist/material-components-web.min.css"/> -->
	{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" false "includePaths" (slice "./node_modules")) }}
	{{ $material := resources.Get "sass/main.scss" | resources.ToCSS $options | resources.Fingerprint }}
	<link rel="stylesheet" type="text/css" href="{{ $material.Permalink }}" integrity="{{ $material.Data.Integrity }}"/>
	<script defer type="text/javascript" src="https://unpkg.com/material-components-web@0.44.0/dist/material-components-web.min.js"></script>

	<!-- Material icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

	<!-- Personnal content -->
	<link rel="stylesheet" type="text/css" href="{{ "styles.css" | relURL }}"/>
	<script defer src="{{ "initiate.js" | relURL }}"></script>

	{{ block "head" . }}
	{{ end }}
</head>

{{ block "main" . }}
{{ end }}
</html>
