{{ define "head" }}
	{{ $options := (dict "targetPath" "drawer.css" "outputStyle" "compressed" "enableSourceMap" false "includePaths" (slice "./node_modules")) }}
	{{ $drawer := resources.Get "sass/drawer.scss" | resources.ToCSS $options | resources.Fingerprint }}
	<link rel="stylesheet" type="text/css" href="{{ $drawer.Permalink }}" integrity="{{ $drawer.Data.Integrity }}"/>

	{{ range .Params.dependencies }}
		{{ $path := path.Join "scripts" . }}
		{{ $js := resources.Get $path }}
		<script type="text/javascript" src="{{ $js.Permalink }}"></script>
	{{ end }}

	{{ $path := path.Join "scripts" .Params.canvasscript }}
	{{ $js := resources.Get $path }}
	{{ if .Site.IsServer }}
		<script type="text/javascript" src="{{ $js.Permalink }}"></script>
	{{ else }}
		{{ $script := $js | resources.Minify | resources.Fingerprint }}
		<script type="text/javascript" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
	{{ end }}
{{ end }}

{{ define "main" }}
	{{ partial "header-drawer.html" . }}

	<aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
		<div class="mdc-drawer__content">
			{{ .Content }}
		</div>
	</aside>

	<div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
		<main class="main-content" id="main-content">
			<div class="center-container">
				<canvas id="draw"></canvas>
			</div>
		</main>
	</div>
{{ end }}
