{{ define "scripts" }}
	<script type="text/javascript" src="{{ .Site.BaseURL }}{{ .Params.canvasscript }}"></script>
{{ end }}

{{ define "main" }}
	<aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
		<div class="mdc-drawer__content">
			<div class="mdc-layout-grid">
				<div class="mdc-layout-grid__inner" style="grid-template-columns: repeat(2, minmax(0, 1fr))">
					{{ .Content }}
				</div>
			</div>
		</div>
	</aside>

	<div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
		<main class="main-content" id="main-content">
			<canvas id="draw"></canvas>
		</main>
	</div>
{{ end }}
