{{ define "head" }}
	<link rel="stylesheet" type="text/css" href="{{ "drawer.css" | relURL }}"/>

	{{ range .Params.dependencies }}
		{{ $path := path.Join "scripts" . }}
		{{ $js := resources.Get $path }}
		<script defer type="text/javascript" src="{{ $js.Permalink }}"></script>
	{{ end }}

	{{ $path := path.Join "scripts" .Params.canvasscript }}
	{{ $js := resources.Get $path }}
	{{ if .Site.IsServer }}
		<script defer type="text/javascript" src="{{ $js.Permalink }}"></script>
	{{ else }}
		{{ $script := $js | resources.Minify | resources.Fingerprint }}
		<script defer type="text/javascript" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
	{{ end }}
{{ end }}

{{ define "main" }}
	{{ partial "header-drawer.html" . }}

	<aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
		<div class="mdc-drawer__content">
			<div class="mdc-layout-grid">
				<div class="mdc-layout-grid__inner" style="grid-template-columns: repeat(2, minmax(0, 1fr))">
					{{ .Content }}
				</div>
			</div>
		</div>
	</aside>

	<div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
		<main class="main-content" id="main-content">
			<canvas id="draw"></canvas>
		</main>
	</div>
{{ end }}
